<!DOCTYPE html>
<html ng-app="appfenacon" lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Fenacon </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

    <!-- AngularJS AND Modules -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_pt-br.js"></script>
    <script src="js/angular-route.js"></script>
    <!-- <script src="js/angular-resource.js"></script> -->

    <!-- Start aplication -->
    <script src="js/main.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/menuController.js"></script>
    <script src="js/controllers/usuariosController.js"></script>

    <!-- Services -->
    <script src="js/services/usuariosAPI.js"></script>

    <!-- Configs -->
    <script src="js/config/config.js"></script>
    
    <!-- Routes -->
    <script src="js/config/routes.js"></script>

    <base href="http://localhost/fenacon/app/">
</head>

<body>
    <div ng-include="'views/menu.html'"></div>

    <div class="container">
        <div class="alert alert-success text-center" ng-if="error"><strong>{{ error }}</strong></div>
        <div class="alert alert-danger text-center" ng-if="success"><strong>{{ success }}</strong></div>
        
        <div ng-view style="padding: 20px 0;"></div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>