<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="menuController">
    <a class="navbar-brand">
        Fenacon
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ appurl }}">Início</a>
            </li>

            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#" id="funcionariosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Funcionários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="funcionariosDropdown">
                      <a class="dropdown-item" href="{{ appurl }}funcionarios">Listar</a>
                      <a class="dropdown-item" href="{{ appurl }}funcionarios_novo">Novo</a>
                      <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#" id="feriasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Férias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="feriasDropdown">
                      <a class="dropdown-item" href="{{ appurl }}ferias">Listar</a>
                      <a class="dropdown-item" href="{{ appurl }}ferias_novo">Novo</a>
                      <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="usuariosDropdown">
                      <a class="dropdown-item" href="{{ appurl }}usuarios">Listar</a>
                      <a class="dropdown-item" href="{{ appurl }}usuarios_novo">Novo</a>
                      <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>